<h1 id='welcome'>Welcome to CiteItRight,<br/> A web application for storing and managing references.</h1>
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
<% end %>
